Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

.env
/api/src/main/kotlin/com/cogoport/{{ cookiecutter.__example }}/api/uploadfiles/